ref/Переводчик РУ-БГ с режимами.json
{
  "name": "Переводчик РУ-БГ с режимами",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2880,
        2320
      ],
      "id": "eaf057bc-9a79-422a-a3ce-0a5e0fc64c2d",
      "name": "Telegram Trigger",
      "webhookId": "d12a8f56-04bb-43ed-83d2-ae67e0ac5b92",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dc390611-1604-4ac6-801b-145ce7769d89"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.message.reply_markup.inline_keyboard }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "54d0fbb8-b1e4-4b0e-a4f5-e8b6fb77dab5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "3ac22b91-7d08-4f4a-88be-73bb2bd0636e"
                  },
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "1ac01340-425b-4e0d-83fd-8ff705d1081a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3104,
        2304
      ],
      "id": "bc82dc68-cffe-459e-af6b-a7b162f49adb",
      "name": "Сортировка событий"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Выберите режим работы бота:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Перевод",
                    "additionalFields": {
                      "callback_data": "translate"
                    }
                  },
                  {
                    "text": "Ударения",
                    "additionalFields": {
                      "callback_data": "stress"
                    }
                  },
                  {
                    "text": "Примеры",
                    "additionalFields": {
                      "callback_data": "examples"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3328,
        2128
      ],
      "id": "0c8eed76-82d0-49e7-ab0a-127389013a02",
      "name": "Отправить Меню",
      "webhookId": "29572c62-5bf0-47c4-85c5-3395f3658e4e",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cb = $input.item.json.callback_query;\nconst chatId = cb.from.id;\nconst mode = cb.data;\nconst staticData = $getWorkflowStaticData('global');\nstaticData[chatId] = mode;\nreturn [{ json: { action: mode, chatId: chatId, cbId: cb.id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        2320
      ],
      "id": "990dbf69-24fd-4b1c-a51a-e660a6a7a15c",
      "name": "Запомнить режим"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3552,
        2320
      ],
      "id": "3896f66e-e98b-47b6-b381-eecb89b51d4d",
      "name": "Убрать часики",
      "webhookId": "3c778f82-c97e-47bd-ae42-7a556a02fc75",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json.message;\nconst chatId = msg.from.id;\nconst staticData = $getWorkflowStaticData('global');\nconst mode = staticData[chatId] || 'translate';\nreturn [{ json: { action: mode, text: msg.text, chatId: chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        2592
      ],
      "id": "4e725d9d-8188-498a-bcd0-f15a63f1dece",
      "name": "Вспомнить режим"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "translate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a2cfa830-09e9-40e1-9937-0df9decaebd3"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "translate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "stress",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4609377d-62f7-445e-a0dc-a858e45dfec1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "stress"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "examples",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "99e6f253-4360-4ab1-a018-ff9ebfb444b9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "examples"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4240,
        2576
      ],
      "id": "33c768c3-854f-48c2-bb8e-ba313bff908b",
      "name": "Выбор ветки"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-3-flash-preview\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Ты — эксперт-лингвист и носитель русского и болгарского языков. Твоя задача — выполнять двусторонний перевод (Русский ↔ Болгарский) на уровне живой разговорной речи.\\n\\n1. Автоопределение: Если ввод на русском — переведи на болгарский. Если ввод на болгарском — переведи на русский.\\n\\n2. Качество перевода: Избегай дословных калек и буквализма. Используй естественные для носителей устойчивые выражения, идиомы и фразеологизмы. Перевод должен звучать так, будто его написал местный житель.\\n\\n3. Контекст и эмоции: Полностью сохраняй эмоциональный окрас и стиль оригинала. Если фраза двусмысленна, выбирай наиболее часто используемый разговорный вариант.\\n\\n4. Язык вывода: ВАЖНО — если переводишь на болгарский, добавь в конце ответа на новой строке маркер: LANG:BG. Если переводишь на русский — маркер: LANG:RU.\\n\\n5. Формат ответа: Присылай ТОЛЬКО текст перевода и маркер языка. Строго запрещено добавлять кавычки, пояснения (типа «Перевод:»), комментарии или варианты. Только чистый результат и маркер.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ $json.text }}\"\n    }\n  ],\n  \"temperature\": 0.5\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4464,
        2400
      ],
      "id": "c1c9f034-d553-4ca4-8247-8919792bc3dc",
      "name": "OpenRouter: перевод"
    },
    {
      "parameters": {
        "jsCode": "// =================================================================\n// Bulgarian stress accent lookup via rechnik.chitanka.info\n// Debug version — adds 'debug' field to output for diagnostics\n// =================================================================\n\nconst rawText = $input.item.json.choices?.[0]?.message?.content || $input.item.json.text || '';\nconst debugLog = [];\n\n// Detect language and strip marker (handles marker anywhere in string)\nconst isBulgarian = /LANG:BG/i.test(rawText);\nconst cleanText = rawText.replace(/\\s*LANG:(BG|RU)\\s*/gi, '').trim();\n\ndebugLog.push({ step: 'input', rawText, isBulgarian, cleanText });\n\nif (!isBulgarian) {\n  return [{ json: { text: cleanText, isBulgarian: false, debug: debugLog } }];\n}\n\n// ---- Helpers ----\n\nfunction countVowels(word) {\n  return (word.match(/[аеиоуъяюАЕИОУЪЯЮ]/g) || []).length;\n}\n\nfunction stripAccents(str) {\n  return str.normalize('NFD').replace(/[\\u0300\\u0301]/g, '').normalize('NFC');\n}\n\nfunction vowelPositions(word) {\n  const positions = [];\n  const chars = [...word];\n  for (let i = 0; i < chars.length; i++) {\n    if (/[аеиоуъяюАЕИОУЪЯЮ]/i.test(stripAccents(chars[i]))) {\n      positions.push(i);\n    }\n  }\n  return positions;\n}\n\nfunction stressedVowelIndex(stressedWord) {\n  const nfd = [...stressedWord.normalize('NFD')];\n  const nfc = [...stressedWord.normalize('NFC')];\n  let nfcIdx = 0, nfdIdx = 0;\n  const nfcToNfd = [];\n  while (nfcIdx < nfc.length) {\n    nfcToNfd.push(nfdIdx);\n    nfdIdx++;\n    while (nfdIdx < nfd.length && nfd[nfdIdx] >= '\\u0300' && nfd[nfdIdx] <= '\\u036f') nfdIdx++;\n    nfcIdx++;\n  }\n  const vowelIdxs = vowelPositions(stressedWord.normalize('NFC'));\n  for (let vi = 0; vi < vowelIdxs.length; vi++) {\n    const nfcPos = vowelIdxs[vi];\n    const nfStart = nfcToNfd[nfcPos];\n    const nfEnd = nfcToNfd[nfcPos + 1] || nfd.length;\n    const hasAccent = nfd.slice(nfStart, nfEnd).some(c => c === '\\u0300' || c === '\\u0301');\n    if (hasAccent) return vi;\n  }\n  return -1;\n}\n\nfunction applyStressAt(word, vi) {\n  const chars = [...word];\n  const positions = vowelPositions(word);\n  if (vi < 0 || vi >= positions.length) return word;\n  chars.splice(positions[vi] + 1, 0, '\\u0300');\n  return chars.join('').normalize('NFC');\n}\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCodePoint(parseInt(code, 10)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, code) => String.fromCodePoint(parseInt(code, 16)));\n}\n\nfunction extractStressedFromHtml(html, plainWordLower) {\n  html = decodeHtmlEntities(html);\n  // Level 1: name-stressed span\n  const spanRe = /id=\"name-stressed_\\d+\"[^>]*>([^<]+)<\\/span>/g;\n  let m;\n  while ((m = spanRe.exec(html)) !== null) {\n    const candidate = m[1].trim();\n    if (stripAccents(candidate).toLowerCase() === plainWordLower) return candidate;\n  }\n  // Level 2: any accented Cyrillic token matching our word\n  const htmlNFD = html.normalize('NFD');\n  const cyrRe = /[\\u0400-\\u04ff][\\u0400-\\u04ff\\u0300\\u0301]*/g;\n  const freq = {};\n  let cm;\n  while ((cm = cyrRe.exec(htmlNFD)) !== null) {\n    const raw = cm[0].normalize('NFC');\n    const plain = stripAccents(raw).toLowerCase();\n    if (plain === plainWordLower && raw !== plain) {\n      freq[raw] = (freq[raw] || 0) + 1;\n    }\n  }\n  const variants = Object.entries(freq);\n  if (variants.length === 0) return null;\n  return variants.sort((a, b) => b[1] - a[1])[0][0];\n}\n\nfunction extractBaseFormPath(html) {\n  // Allow any whitespace/tags between \"на\" and the <a href\n  // Also decode HTML entities in the path\n  const m = html.match(/производна форма[\\s\\S]*?на[\\s\\S]*?<a href=\"(\\/w\\/[^\"]+)\"/);\n  if (!m) return null;\n  return m[1]; // returns first match (first base form)\n}\n\nasync function fetchHtml(path) {\n  const url = `https://rechnik.chitanka.info${path}`;\n  // Try all available HTTP methods in n8n Code node\n  const methods = [\n    // 1. this.helpers.httpRequest (n8n built-in, most common)\n    async () => {\n      const r = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: true });\n      return r.body;\n    },\n    // 2. this.helpers.request (older n8n API)\n    async () => {\n      return await this.helpers.request({ method: 'GET', uri: url });\n    },\n    // 3. axios (sometimes available as global)\n    async () => {\n      const r = await axios.get(url);\n      return r.data;\n    },\n    // 4. got (sometimes available as global)\n    async () => {\n      const r = await got(url);\n      return r.body;\n    },\n  ];\n\n  for (let i = 0; i < methods.length; i++) {\n    try {\n      const body = await methods[i]();\n      if (body && body.length > 0) {\n        debugLog.push({ step: 'http_ok', path, method: i, bodyLen: body.length });\n        return body;\n      }\n    } catch(e) {\n      debugLog.push({ step: 'http_try', path, method: i, error: e.message });\n    }\n  }\n  debugLog.push({ step: 'http_error', path, error: 'all methods failed' });\n  return null;\n}\n\nasync function fetchStressedWord(word) {\n  const cleanWord = word.toLowerCase().replace(/[^\\u0400-\\u04ff]/g, '');\n  if (!cleanWord) return null;\n\n  const path = `/w/${encodeURIComponent(cleanWord)}`;\n  const html = await fetchHtml(path);\n  if (!html) {\n    debugLog.push({ step: 'no_html', word: cleanWord });\n    return null;\n  }\n\n  const direct = extractStressedFromHtml(html, cleanWord);\n  debugLog.push({ step: 'direct_lookup', word: cleanWord, result: direct });\n  if (direct) return direct;\n\n  const basePath = extractBaseFormPath(html);\n  debugLog.push({ step: 'base_path', word: cleanWord, basePath });\n  if (!basePath) return null;\n\n  const baseHtml = await fetchHtml(basePath);\n  if (!baseHtml) return null;\n\n  const baseWord = decodeURIComponent(basePath.replace('/w/', ''));\n  const stressedBase = extractStressedFromHtml(baseHtml, baseWord.toLowerCase());\n  debugLog.push({ step: 'base_stressed', baseWord, stressedBase });\n  if (!stressedBase) return null;\n\n  const vi = stressedVowelIndex(stressedBase);\n  debugLog.push({ step: 'vowel_index', stressedBase, vi });\n  if (vi < 0) return null;\n\n  const vowelIdxs = vowelPositions(cleanWord);\n  const targetVi = vi < vowelIdxs.length ? vi : vowelIdxs.length - 1;\n  return applyStressAt(cleanWord, targetVi);\n}\n\n// ---- Tokenise ----\nfunction tokenise(text) {\n  return text.split(/([\\u0400-\\u04ff]+(?:['-][\\u0400-\\u04ff]+)*)/u);\n}\n\n// ---- Main ----\nconst tokens = tokenise(cleanText);\nconst processedTokens = [];\n\ndebugLog.push({ step: 'tokens', tokens });\n\nfor (let i = 0; i < tokens.length; i++) {\n  const token = tokens[i];\n  if (i % 2 === 0) { processedTokens.push(token); continue; }\n\n  if (countVowels(token) <= 1) {\n    debugLog.push({ step: 'skip_monosyllable', token });\n    processedTokens.push(token);\n    continue;\n  }\n\n  const stressed = await fetchStressedWord(token);\n  debugLog.push({ step: 'result', token, stressed });\n\n  if (stressed) {\n    const isCapital = token[0] === token[0].toUpperCase() && token[0] !== token[0].toLowerCase();\n    processedTokens.push(isCapital ? stressed[0].toUpperCase() + stressed.slice(1) : stressed);\n  } else {\n    processedTokens.push(token);\n  }\n}\n\nreturn [{ json: { text: processedTokens.join(''), originalText: cleanText, isBulgarian: true, debug: debugLog } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        2400
      ],
      "id": "0c26ad55-e243-4f77-820f-9ce75ffbdede",
      "name": "Ударения (после перевода)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4912,
        2400
      ],
      "id": "b827db43-9040-4d0d-b1c9-4d3780c52880",
      "name": "Отправить перевод",
      "webhookId": "ab439a45-5a43-49e5-ae48-7f2339280a3d",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// =================================================================\n// Bulgarian stress accent lookup via rechnik.chitanka.info\n// Режим: прямой ввод болгарского текста (без маркера LANG:BG)\n// =================================================================\n\n// В режиме \"Ударения\" пользователь вводит болгарский текст напрямую.\n// Маркера LANG:BG нет — поэтому принудительно считаем текст болгарским.\nconst rawText = $input.item.json.text || '';\nconst cleanText = rawText.trim();\nconst debugLog = [];\n\ndebugLog.push({ step: 'input', rawText, cleanText });\n\nif (!cleanText) {\n  return [{ json: { text: '', isBulgarian: true, debug: debugLog } }];\n}\n\n// ---- Helpers ----\n\nfunction countVowels(word) {\n  return (word.match(/[аеиоуъяюАЕИОУЪЯЮ]/g) || []).length;\n}\n\nfunction stripAccents(str) {\n  return str.normalize('NFD').replace(/[\\u0300\\u0301]/g, '').normalize('NFC');\n}\n\nfunction vowelPositions(word) {\n  const positions = [];\n  const chars = [...word];\n  for (let i = 0; i < chars.length; i++) {\n    if (/[аеиоуъяюАЕИОУЪЯЮ]/i.test(stripAccents(chars[i]))) {\n      positions.push(i);\n    }\n  }\n  return positions;\n}\n\nfunction stressedVowelIndex(stressedWord) {\n  const nfd = [...stressedWord.normalize('NFD')];\n  const nfc = [...stressedWord.normalize('NFC')];\n  let nfcIdx = 0, nfdIdx = 0;\n  const nfcToNfd = [];\n  while (nfcIdx < nfc.length) {\n    nfcToNfd.push(nfdIdx);\n    nfdIdx++;\n    while (nfdIdx < nfd.length && nfd[nfdIdx] >= '\\u0300' && nfd[nfdIdx] <= '\\u036f') nfdIdx++;\n    nfcIdx++;\n  }\n  const vowelIdxs = vowelPositions(stressedWord.normalize('NFC'));\n  for (let vi = 0; vi < vowelIdxs.length; vi++) {\n    const nfcPos = vowelIdxs[vi];\n    const nfStart = nfcToNfd[nfcPos];\n    const nfEnd = nfcToNfd[nfcPos + 1] || nfd.length;\n    const hasAccent = nfd.slice(nfStart, nfEnd).some(c => c === '\\u0300' || c === '\\u0301');\n    if (hasAccent) return vi;\n  }\n  return -1;\n}\n\nfunction applyStressAt(word, vi) {\n  const chars = [...word];\n  const positions = vowelPositions(word);\n  if (vi < 0 || vi >= positions.length) return word;\n  chars.splice(positions[vi] + 1, 0, '\\u0300');\n  return chars.join('').normalize('NFC');\n}\n\nfunction decodeHtmlEntities(str) {\n  return str\n    .replace(/&#(\\d+);/g, (_, code) => String.fromCodePoint(parseInt(code, 10)))\n    .replace(/&#x([0-9a-fA-F]+);/g, (_, code) => String.fromCodePoint(parseInt(code, 16)));\n}\n\nfunction extractStressedFromHtml(html, plainWordLower) {\n  html = decodeHtmlEntities(html);\n  const spanRe = /id=\"name-stressed_\\d+\"[^>]*>([^<]+)<\\/span>/g;\n  let m;\n  while ((m = spanRe.exec(html)) !== null) {\n    const candidate = m[1].trim();\n    if (stripAccents(candidate).toLowerCase() === plainWordLower) return candidate;\n  }\n  const htmlNFD = html.normalize('NFD');\n  const cyrRe = /[\\u0400-\\u04ff][\\u0400-\\u04ff\\u0300\\u0301]*/g;\n  const freq = {};\n  let cm;\n  while ((cm = cyrRe.exec(htmlNFD)) !== null) {\n    const raw = cm[0].normalize('NFC');\n    const plain = stripAccents(raw).toLowerCase();\n    if (plain === plainWordLower && raw !== plain) {\n      freq[raw] = (freq[raw] || 0) + 1;\n    }\n  }\n  const variants = Object.entries(freq);\n  if (variants.length === 0) return null;\n  return variants.sort((a, b) => b[1] - a[1])[0][0];\n}\n\nfunction extractBaseFormPath(html) {\n  const m = html.match(/производна форма[\\s\\S]*?на[\\s\\S]*?<a href=\"(\\/w\\/[^\"]+)\"/);\n  if (!m) return null;\n  return m[1];\n}\n\nasync function fetchHtml(path) {\n  const url = `https://rechnik.chitanka.info${path}`;\n  const methods = [\n    async () => {\n      const r = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: true });\n      return r.body;\n    },\n    async () => {\n      return await this.helpers.request({ method: 'GET', uri: url });\n    },\n    async () => {\n      const r = await axios.get(url);\n      return r.data;\n    },\n    async () => {\n      const r = await got(url);\n      return r.body;\n    },\n  ];\n\n  for (let i = 0; i < methods.length; i++) {\n    try {\n      const body = await methods[i]();\n      if (body && body.length > 0) {\n        debugLog.push({ step: 'http_ok', path, method: i, bodyLen: body.length });\n        return body;\n      }\n    } catch(e) {\n      debugLog.push({ step: 'http_try', path, method: i, error: e.message });\n    }\n  }\n  debugLog.push({ step: 'http_error', path, error: 'all methods failed' });\n  return null;\n}\n\nasync function fetchStressedWord(word) {\n  const cleanWord = word.toLowerCase().replace(/[^\\u0400-\\u04ff]/g, '');\n  if (!cleanWord) return null;\n\n  const path = `/w/${encodeURIComponent(cleanWord)}`;\n  const html = await fetchHtml(path);\n  if (!html) {\n    debugLog.push({ step: 'no_html', word: cleanWord });\n    return null;\n  }\n\n  const direct = extractStressedFromHtml(html, cleanWord);\n  debugLog.push({ step: 'direct_lookup', word: cleanWord, result: direct });\n  if (direct) return direct;\n\n  const basePath = extractBaseFormPath(html);\n  debugLog.push({ step: 'base_path', word: cleanWord, basePath });\n  if (!basePath) return null;\n\n  const baseHtml = await fetchHtml(basePath);\n  if (!baseHtml) return null;\n\n  const baseWord = decodeURIComponent(basePath.replace('/w/', ''));\n  const stressedBase = extractStressedFromHtml(baseHtml, baseWord.toLowerCase());\n  debugLog.push({ step: 'base_stressed', baseWord, stressedBase });\n  if (!stressedBase) return null;\n\n  const vi = stressedVowelIndex(stressedBase);\n  debugLog.push({ step: 'vowel_index', stressedBase, vi });\n  if (vi < 0) return null;\n\n  const vowelIdxs = vowelPositions(cleanWord);\n  const targetVi = vi < vowelIdxs.length ? vi : vowelIdxs.length - 1;\n  return applyStressAt(cleanWord, targetVi);\n}\n\n// ---- Tokenise ----\nfunction tokenise(text) {\n  return text.split(/([\\u0400-\\u04ff]+(?:['-][\\u0400-\\u04ff]+)*)/u);\n}\n\n// ---- Main ----\nconst tokens = tokenise(cleanText);\nconst processedTokens = [];\n\ndebugLog.push({ step: 'tokens', tokens });\n\nfor (let i = 0; i < tokens.length; i++) {\n  const token = tokens[i];\n  if (i % 2 === 0) { processedTokens.push(token); continue; }\n\n  if (countVowels(token) <= 1) {\n    debugLog.push({ step: 'skip_monosyllable', token });\n    processedTokens.push(token);\n    continue;\n  }\n\n  const stressed = await fetchStressedWord(token);\n  debugLog.push({ step: 'result', token, stressed });\n\n  if (stressed) {\n    const isCapital = token[0] === token[0].toUpperCase() && token[0] !== token[0].toLowerCase();\n    processedTokens.push(isCapital ? stressed[0].toUpperCase() + stressed.slice(1) : stressed);\n  } else {\n    processedTokens.push(token);\n  }\n}\n\nreturn [{ json: { text: processedTokens.join(''), originalText: cleanText, isBulgarian: true, debug: debugLog } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4464,
        2592
      ],
      "id": "655bb347-56f7-4e59-8259-bcd2b1beac05",
      "name": "Ударения (прямой ввод)"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4688,
        2592
      ],
      "id": "0d723049-8de2-4816-92dd-af500a33b449",
      "name": "Отправить ударения",
      "webhookId": "59993c3b-ca64-447d-a8cd-1dbfa610f14e",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"google/gemini-3-flash-preview\",\n  \"messages\": [\n    { \n      \"role\": \"system\", \n      \"content\": \"Действуй как носитель болгарского языка. Дай 3 коротких, реалистичных примера использования слова/фразы. Используй живой разговорный язык, сленг или типичные бытовые ситуации (без цензуры здравого смысла и излишней вежливости). Примеры должны отражать, как люди реально общаются на улице или в кругу друзей. Каждый пример на новой строке, пронумерован. Только болгарский текст, без лишних пояснений.\" \n    },\n    { \"role\": \"user\", \"content\": \"{{ $json.text }}\" }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4464,
        2784
      ],
      "id": "0b3ca448-a1d0-4cce-a9b5-eb8d619d3dc2",
      "name": "OpenRouter: примеры"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.choices?.[0]?.message?.content || '';\nconst chatId = $('Вспомнить режим').item.json.chatId;\nreturn [{ json: { text: 'Примеры:\\n\\n' + raw.trim(), chatId: chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4688,
        2784
      ],
      "id": "e9f3dd2b-292f-45b7-ac50-be10e34f5ddf",
      "name": "Формат. примеры"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4912,
        2784
      ],
      "id": "8955df35-022c-42d6-9266-6b4aac53cb5a",
      "name": "Отправить примеры",
      "webhookId": "ffaeb3d9-0614-47c8-a6b7-55b90ccd347a",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.from.id }}",
        "text": "=Режим \"{{  $('Запомнить режим').item.json.action == 'examples' ? 'Примеры' : ($('Запомнить режим').item.json.action == 'stress' ? '́ Ударения' : 'Перевод') }}\" активирован!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3776,
        2320
      ],
      "id": "4fd61587-f4b7-486b-871a-200a9adfc55a",
      "name": "Send a text message",
      "webhookId": "be8d37d6-729b-4d69-97f0-0f34c519f321",
      "credentials": {
        "telegramApi": {
          "id": "3kk0O3nYwODitmYU",
          "name": "Переводчик РУ-БГ с ударением"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Сортировка событий",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сортировка событий": {
      "main": [
        [
          {
            "node": "Отправить Меню",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Запомнить режим",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Вспомнить режим",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Запомнить режим": {
      "main": [
        [
          {
            "node": "Убрать часики",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убрать часики": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вспомнить режим": {
      "main": [
        [
          {
            "node": "Выбор ветки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Выбор ветки": {
      "main": [
        [
          {
            "node": "OpenRouter: перевод",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ударения (прямой ввод)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenRouter: примеры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter: перевод": {
      "main": [
        [
          {
            "node": "Ударения (после перевода)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ударения (после перевода)": {
      "main": [
        [
          {
            "node": "Отправить перевод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ударения (прямой ввод)": {
      "main": [
        [
          {
            "node": "Отправить ударения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter: примеры": {
      "main": [
        [
          {
            "node": "Формат. примеры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Формат. примеры": {
      "main": [
        [
          {
            "node": "Отправить примеры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1bee2336-ef75-4a80-994b-6e02ddc9c65d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81065c538ca58d24acdc31d35693fbcc8fbeebcc6d869e2981079a5e1ba26606"
  },
  "id": "YxkhnGFMeqFIX0HT",
  "tags": []
}